@import "../App"

.header
    background: $primary
    height: 100px
    padding: 8px
    margin-bottom: 10vh
    width: 100%
    align-items: center
    break-inside: avoid
    text-align: center

.header img
    width: 80px
    margin: 2px
    border-radius: 50%
