$primary: #525ceb
$secondary: #bfcfe7
$tertiary: #f8edff
$dark: #3d3b40
$color: #151515
$background: #e0e1f1
$inputs: #fdfdff

#root
  margin: 0
  padding: 0
  text-align: center

body
  margin: 0
  padding: 0
  min-height: 100vh
  display: flex
  flex-direction: column

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: sans-serif
  line-height: 1.5
  font-weight: 400
  font-size: 17px
  color: $color
  background: $background
  color-scheme: light dark
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  flex: 1 // Para que o conteúdo ocupe o espaço restante
