$primary: #525ceb
$secondary: #bfcfe7
$tertiary: #f8edff
$dark: #3d3b40
$color: #151515
$background: #e0e1f1
$inputs: #fdfdff

#root
  margin: 0 auto
  text-align: center

*
  margin: 0
  padding: 0
  background: $background
  color: $color
  font-family: sans-serif
  line-height: 1.5
  font-weight: 400
  font-size: 17px
  color-scheme: light dark
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  body
    min-height: 100vh
